.whole {
	background-color:rgba(0,0,125,50%);
}

.title {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}
.start {
	width:fit-content;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}

.categories {
	width:fit-content;
	margin-left:auto;
	margin-right:auto;
}

.categories-selected {
	width:fit-content;
	margin-left:auto;
	margin-right:auto;
}

.current-category {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}

.question {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}

/*
.choice-1 {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
	display:block;
}

.choice-2 {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
	display:block;
}


.choice-3 {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
	display:block;
}

.choice-4  {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
	display:block;
}*/

.choices-all {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}


.score  {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}
/*.one-and-two{
	display:flex;
	margin-right:10px;
	width:fit-content;
	justify-content:center;
}
.three-and-four {
	display:flex;
	margin-left:10px;
	width:fit-content;
	justify-content:center;
}*/


.notifications {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
}

input[type="radio"]:checked + label {
	background-color:rgba(255,0,0,50%);
}

.rules {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;

}


.reset {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
	margin-top:40px;
}


.reset-btn {
	margin-left:auto;
	margin-right:auto;
}



.stats {
	margin-left:auto;
	margin-right:auto;
	width:fit-content;
	margin-top:40px;
}
	


